body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:604px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u3 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:151px;
  top:31px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:228px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:228px;
}
#u7 {
  position:absolute;
  left:2px;
  top:106px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:63px;
  width:170px;
  height:218px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:218px;
}
#u9 {
  position:absolute;
  left:2px;
  top:101px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:291px;
  width:187px;
  height:188px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:188px;
}
#u11 {
  position:absolute;
  left:2px;
  top:86px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:186px;
  top:478px;
  width:189px;
  height:189px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:189px;
}
#u13 {
  position:absolute;
  left:2px;
  top:86px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:186px;
  top:385px;
  width:189px;
  height:94px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:94px;
}
#u15 {
  position:absolute;
  left:2px;
  top:39px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:186px;
  top:291px;
  width:189px;
  height:96px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:96px;
}
#u17 {
  position:absolute;
  left:2px;
  top:40px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:571px;
  width:187px;
  height:96px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:96px;
}
#u19 {
  position:absolute;
  left:2px;
  top:40px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:478px;
  width:187px;
  height:94px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:94px;
}
#u21 {
  position:absolute;
  left:2px;
  top:39px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:193px;
  top:106px;
  width:140px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:193px;
  top:168px;
  width:140px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:56px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:35px;
  top:353px;
  width:115px;
  height:115px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
}
#u27 {
  position:absolute;
  left:2px;
  top:50px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:15px;
  top:310px;
  width:90px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:221px;
  top:325px;
  width:87px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:221px;
  top:411px;
  width:87px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:15px;
  top:510px;
  width:87px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:15px;
  top:600px;
  width:87px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:319px;
  top:326px;
  width:51px;
  height:45px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:45px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:319px;
  top:420px;
  width:51px;
  height:48px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:48px;
}
#u41 {
  position:absolute;
  left:2px;
  top:16px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:125px;
  top:510px;
  width:51px;
  height:53px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:53px;
}
#u43 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:126px;
  top:615px;
  width:50px;
  height:39px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:223px;
  top:547px;
  width:115px;
  height:115px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
}
#u47 {
  position:absolute;
  left:2px;
  top:50px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:221px;
  top:497px;
  width:129px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:221px;
  top:349px;
  width:124px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:221px;
  top:436px;
  width:124px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:15px;
  top:535px;
  width:124px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:15px;
  top:625px;
  width:124px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:15px;
  top:332px;
  width:124px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:221px;
  top:518px;
  width:124px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
