body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:63px;
  width:375px;
  height:604px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u3 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:11px;
  top:292px;
  width:373px;
  height:52px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:52px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:343px;
  top:307px;
  width:25px;
  height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:344px;
  width:379px;
  height:269px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:66px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:66px;
}
#u10 {
  position:absolute;
  left:2px;
  top:21px;
  width:370px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:66px;
  width:374px;
  height:66px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:66px;
}
#u12 {
  position:absolute;
  left:2px;
  top:21px;
  width:370px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:132px;
  width:374px;
  height:66px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:66px;
}
#u14 {
  position:absolute;
  left:2px;
  top:21px;
  width:370px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:198px;
  width:374px;
  height:66px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:66px;
}
#u16 {
  position:absolute;
  left:2px;
  top:21px;
  width:370px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:158px;
  top:31px;
  width:79px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:11px;
  top:63px;
  width:374px;
  height:228px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:228px;
}
#u20 {
  position:absolute;
  left:2px;
  top:106px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:100px;
  top:93px;
  width:196px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#990000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:48px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:11px;
  top:80px;
  width:89px;
  height:63px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:63px;
}
#u24 {
  position:absolute;
  left:2px;
  top:24px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:165px;
  top:217px;
  width:220px;
  height:77px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:77px;
}
#u26 {
  position:absolute;
  left:2px;
  top:30px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:301px;
  top:361px;
  width:70px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u28 {
  position:absolute;
  left:0px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:301px;
  top:427px;
  width:70px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u30 {
  position:absolute;
  left:0px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:301px;
  top:493px;
  width:70px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u32 {
  position:absolute;
  left:0px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:301px;
  top:560px;
  width:70px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CD4144;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u34 {
  position:absolute;
  left:0px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:6px;
  top:370px;
  width:26px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:6px;
  top:436px;
  width:26px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:6px;
  top:502px;
  width:26px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u40 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:6px;
  top:569px;
  width:26px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
