body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:63px;
  width:375px;
  height:604px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u3 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:63px;
  width:375px;
  height:603px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
}
#u5 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:161px;
  top:31px;
  width:79px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:9px;
  top:63px;
  width:376px;
  height:604px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u9 {
  position:absolute;
  left:2px;
  top:294px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:9px;
  top:449px;
  width:376px;
  height:217px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:217px;
}
#u11 {
  position:absolute;
  left:2px;
  top:100px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:22px;
  top:100px;
  width:351px;
  height:47px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:47px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
